*{
    padding: 0;
    margin: 0;
}
.logo-img{
    width: 10%;
    border-radius: 1.2rem;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-size-adjust: 3rem;
    font-size: 3rem;
    background-color:black;
    color: white;
    
}
a{
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    margin-right: 1rem;
    padding-top: 2rem;
    color: white;
    
}
img1{
    width: 100%;
    height: 70vh;
    background: linear-gradient(black,white);
    

}
#about{
    display: flex;
    color: white;
    
    
}
.left{
    width: 30%;
    

}
.left img{
    width: 100%;
    border-radius: 1.2rem;
    margin: 2rem;
    box-shadow: 1rem 1rem 1rem #AE3888;
}
.right{
    width: 70%;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.card{
    width: 20rem;
    background-color:#131313;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1.2rem;
    box-shadow: 1rem 1rem 1rem brown;
}
.card-img{
    width: 100%;
    border-radius: 1.2rem;
    background-color: #131313;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    background-color: #131313;
    
}
#chocolate{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    width: 100%;
    
}
.card-img2{
    width: 100%;
    height: 50vh;
    border-radius: 1.2rem;
    padding: 1rem;
    background-color: #131313;
    

}
#contact{
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 70;
    background-color: #131313;
    color: white;
}
form{
    width: 100%;
    padding: 2rem;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right,#AE3888,black);
    height: 50vh;
    border-radius: 1.2rem;
    color: white;
}
input{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 20vw;
    border-radius: 0.5rem;
}
textarea{
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 0.5rem;
    height: 3rem;
}
body{
    background-color:#131313; 
    
    
}
footer {
    text-align: center;
    padding: 3px;

    color: white;
    padding: 1rem;
    margin: 2rem;
    background-color: #131313;
  }
h1{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    color: white;
}
h2{
    color: white;
}

    


